@model eShopSolution.ViewModels.Common.PagedResult<eShopSolution.ViewModels.Catalog.Products.ProductViewModel>
@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#msgAlert").fadeTo(2000, 1).slideUp(500, function () {
                $("#msgAlert").slideUp();
            });
        });
    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" asp-items="@ViewBag.Categories" class="form-control">
                                    <option value="0">-- Chọn danh mục --</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="submit" onclick="window.location.href='/User/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <table class="datatable-table">
                <thead>
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Giá nhập
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Tình trạng
                        </th>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TotalRecords == 0)
                    {
                        <tr>
                            <td colspan="6">Không có dữ liệu</td>
                        </tr>
                    }
                    else {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id  }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id  }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                    @Html.ActionLink("Add category", "CategoryAssign", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model )
        </div>
    </div>
</div>